@charset "utf-8";
/* CSS Document */

.form_table{}
.form_table tr{ height: 35px;}
.form_table tr td{ height: 35px; line-height: 35px;}
.form_table tr td input{ height: 30px;}
.form_table tr td span, .form_table tr td laben{ height: 35px; line-height: 35px;}

